table{
    border:1px solid black;
    width:600px;
    height:250px;
    background-color: aquamarine;
    margin-top: 100px;
    margin-left: 450px;
    font-family: 'Times New Roman';
    color: darkblue;
}
h1{
    font-family: 'Times New Roman';
    text-align: center;
    color:crimson;
}
.tab
{
    margin-left: 100px;
    border:1px solid black;
    background-color: lightcoral;
}
.tab1
{
    margin-left: 100px;
    border:1px solid black;
    background-color: greenyellow;
}
#s1
{
    color:lightcoral
}
#s2
{
    color: greenyellow;
}
#rp
{
    background-color: red;
    height:20px;
}
#p
{
    background-color: green;
}
#t1
{
    
    border:1px solid black;
    width:600px;
    height:250px;
    background-color: cadetblue;
    margin-top: 100px;
    margin-left: 450px;
    font-family: 'Times New Roman';
    color: darkblue;
}
