div{
  border: 1px solid black;
  background-color: aqua;

}
h1{
  color:blue;
  font-family: 'Lucida Sans';
  text-align: center;
  
}
.header{
  color:brown;
  font-family: 'Lucida Sans';
  text-align: center;
}