<html>
    <head><title>Content Change</title>
        <script type="text/javascript">
            function changeContent()
            {
                var p1=document.getElementById('para1').textContent;
                document.getElementById('p2').innerHTML="RSC Training on ReactJS";
            }
            </script></head>
    <body>
            <p id="para1">welcome to srm technologies</p>
            <p id="p2"></p>
            <input type="submit" value="change content" onclick="changeContent()">
    </body>
</html>