<html>
    <head><title>Numeric Array</title></head>
    <body>
        <script>
            let no=prompt("Enter the No.of.Elements : ");
            let n=parseInt(no)
            let flag=false;
            let numArray=[]
            for(let i=0;i<n;i++)
            {
                let val=prompt("Enter Numeric Array : ");
                numArray.push(parseInt(val));
            }
            for(let i=0;i<numArray.length;i++)
            {
                for(let j=2;j<=numArray.length/2;j++)
              {
                if(numArray[i]%j==0)
                {
                    document.write(numArray[i]+" is not a prime number"+"<br>");
                    flag=true;
                    break;
                }
                if(flag)
                {
                document.write(numArray[i]+" is  a prime number"+"<br>");
                break;
                }
             }
            }
           
        </script>
    </body>
</html>