<html>
    <head><title>Conversion Function</title></head>
    <body>
        <script type="text/javascript">
        var value1=prompt("Enter the Value : ")
        document.write("DataType : "+typeof(value1)+"<br>")
        document.write("Value : "+value1+"<br>");
        if(value1.match('^[0-9]+$'))
        {
            document.write(value1+" is numeric data"+"<br>")
        }
        else{
            document.write(value1+" is non-numeric data"+"<br>")
        }
        </script>
    </body>
</html>
